.main {
  min-height: 100vh;
  color: var(---black);
}

.container {
  background-color: var(---beige);
}

.containerDimensions {
  text-align: center;
  width: 100%;
  height: 302px;
}

.image {
  width: 286px;
  height: 286px;
}

.containerGap {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0 1rem;
}