.contactForm {
    border: 11px solid var(---yellow);
    background-color: var(---beige);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}
  
.sunDrawing {
    position: absolute;
    right: 10%;
    top: 8%;
}
  
.drawings {
    margin: 0 auto;
}

@media (min-width: 481px) and (max-width: 820px) {
    .tabletForm {
        border: 11px solid var(---yellow);
        background-color: var(---beige);
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1.25rem;
        width: 90%;
        margin: 0 auto;
      }
      
    .tabletContainer {
        width: 100%;
        justify-content: center;
    }
    
      .drawings {
        width: 100%;
    }
}

@media (min-width: 821px) {

    .contactForm {
        width: 80%;
        margin: 0 auto;   
    }

   /* Add a new CSS class for the two-block layout */
    .formContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }
    
    .formFirstBlock {
        grid-column: 1;
    }

    .formSecondBlock {
        grid-column: 2;
    }

    .desktopDrawingsContainer {
        display: flex;
        justify-content: space-between;
    }

    .drawings {
        margin: 0;
    }
  
}