.headingPlayfull {
    font-family: var(---amatic);
    text-align: center;
}

.headingPlayfullBig {
    font-size: 2rem;
}

.headingPlayfullSmaller {
    font-size: 1.5rem;
    font-weight: var(---bold);
}

.headingRegular {
    font-size: 1rem;
    text-align: center;
}

.headingRegularBold {
    font-family: var(---montserrat);
    font-weight: var(---bold);
}

.headingRegularUppercase {
    text-transform: uppercase;
}

.headingRegularJustify {
    text-align: justify;
}

.paragraphStyle {
    font-size: .875rem;
    line-height: 1.5rem;
    text-align: justify;
}

@media (min-width: 481px) and (max-width: 820px) {

    .headingPlayfullBig, .headingRegularBold, .headingPlayfullSmaller {
        margin: 0 auto;
    }
    
    .headingPlayfullBig {
        width: 60%;
        height: 100px;
        line-height: 3rem
    }

    .headingPlayfullSmaller {
        font-size: 2.5rem;
        width: 70%;
    }

    .headingRegularBold {
        width: 100%;
    }
    
    .paragraphStyle{
        width: 100%;
        margin: 0 auto;
    }

    .centeredText {
        text-align: center;
    }

    .tabletWidth {
        width: 80%;
    }
}